.form {
    background-color:#f1f1f1;
    padding: 1rem;
    width:25rem;
    margin: 2rem auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form label {
    display: block;
    font-weight: bold;
    color:black;
    margin-bottom: 0.05rem;
}

.form input {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
