.form {
    background-color:#f1f1f1;
    padding: 1rem;
    width:25rem;
    color:black
}

.form label {
    display: block;
    font-weight: bold;
    color:black;
    margin-bottom: 0.05rem;
}

.form input {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #34036c;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}