.form {
    background-color:#f1f1f1;
    padding: 1rem;
    width:50rem;
    color:black
}

.form label {
    display: block;
    font-weight: bold;
    color:black;
    margin-bottom: 0.05rem;
}

.form input {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form input,
.form textarea {
     width: 100%;
     padding: 0.25rem;
     margin-bottom: 0.5rem;
     border: 1px solid #ccc;
     border-radius: 4px;
}

.form textarea {
     resize: vertical;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}