.todoCardList {
    list-style: none;
    margin: 1rem 2%;   /* space on sides */
    padding: 1rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr); /* desktop: 3 columns */
    justify-content: start;
}

/* Tablet: 2 columns */
@media (max-width: 900px) {
    .todoCardList {
        grid-template-columns: 1fr;
        margin: 1rem 2%;
    }
}

/* Mobile: 1 column (full width) */
@media (max-width: 600px) {
    .todoCardList {
        grid-template-columns: 1fr;
        margin: 1rem 2%;
    }
}
