.todoCardList {
    list-style: none;

    margin: 1rem 10%;     /* match header */
    padding: 1rem;        /* auto is invalid */

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(3, 1fr); /* fill available space */
    justify-content: start;                 /* align left */
}
