/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.pageSubtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color:aliceblue;
  text-align: center;
}